# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Conda
.env
.venv

# VSCode
.vscode/

# JetBrains
.idea/

# Mac/Linux
.DS_Store

# Logs SLURM
*.out
*.err

# Profiling
*.prof

# Archivos temporales
*.tmp
*.log

# PDFs compilados
report/build/
docs/tarea03.pdf

# Latex auxiliares
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.lof
*.lot
*.toc
*.synctex.gz
